.carousel-scroll-pin {
  position: relative;
  width: 100%;
}

.carousel-scroll-pin__sticky {
  position: -webkit-sticky;
  position: sticky;
  min-height: calc(100vh - 92px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: visible;
  box-sizing: border-box;
}
